<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b style="color:brown">SHOP</b><i style="color:chocolate">KART</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" style="color:coral">HOME</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="Product" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:coral">
              PRODUCT
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">DRESSES</a></li>
              <li><a class="dropdown-item" href="#">ELECTRONIC DEVICES</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">OTHERS</a></li>
            </ul>
            <li class="nav-item">
                <a class="nav-link" routerLink="Contact" style="color:coral">CONTACT-US</a>
              </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder=" Product Search"  aria-label="Search" style="color:brown;background-color:darksalmon;">
          <button class="btn btn-outline-success" type="submit" style="color:brown;background-color: darksalmon;"> SEARCH</button>
        </form>
      </div>
    </div>
  </nav>
