<div class="container sheet product-detail">

	<div class="row">
		<div class="col-12 product-detail-main-info">
			
			<h1 style="color:chocolate">{{data.title}}</h1>
			<p class="card-text">{{data.description}} </p>
			
			
		</div>
	</div>

	<div class="row product-detail-padded">
		<div class="col-md-12 col-lg-5 product-detail-image">
			<div class="autofit-row">
				<div class="autofit-col thumb-preview">
					 <div id="_com_liferay_commerce_product_content_web_internal_portlet_CPContentPortlet_thumbs-container">
						

						<div class="thumb">
							<img class="center-block img-fluid" src='{{data.image}}'>
						</div>

						
					</div>
				</div>
				
			</div>
		</div>

		<div class="col-md-12 col-lg-7 product-detail-info">
			<div class="autofit-row align-items-center product-detail-separator">
				<div class="autofit-col autofit-col-expand inline-item-before">
					<h2>{{data.price}}</h2>
				</div>
				<div class="autofit-col autofit-col-expand inline-item-before">
					<span class="text-muted">was $129.98</span>
				</div>
				<div class="autofit-col autofit-col-expand inline-item-before">
					<strong>you saved 30%</strong>
				</div>
				<div class="autofit-col inline-item-before">
					<span class="text-muted small">more discount</span>
				</div>
			</div>

			<div class="form-group-autofit product-detail-separator product-detail-padded">
				<div class="form-group-item">
				<div class="input-group">
						<div class="input-group-item input-group-item-shrink input-group-prepend">
							<button class="btn btn-secondary" type="button">x2</button>
						</div>
						<div class="input-group-append input-group-item">
							<input aria-label="Search for" class="form-control" placeholder="$87.03" type="text">
						</div>
					</div>
			   </div>

				<div class="form-group-item">
				<div class="input-group">
						<div class="input-group-item input-group-item-shrink input-group-prepend">
							<button class="btn btn-secondary" type="button">x3</button>
						</div>
						<div class="input-group-append input-group-item">
							<input aria-label="Search for" class="form-control" placeholder="$82.03" type="text">
						</div>
					</div>
			   </div>

			   <div class="form-group-item">
				<div class="input-group">
						<div class="input-group-item input-group-item-shrink input-group-prepend">
							<button class="btn btn-secondary" type="button">x4</button>
						</div>
						<div class="input-group-append input-group-item">
							<input aria-label="Search for" class="form-control" placeholder="$75.00" type="text">
						</div>
					</div>
			   </div>

			   <div class="form-group-item">
				<div class="input-group">
						<div class="input-group-item input-group-item-shrink input-group-prepend">
							<button class="btn btn-secondary" type="button">x5</button>
						</div>
						<div class="input-group-append input-group-item">
							<input aria-label="Search for" class="form-control" placeholder="$70.00" type="text">
						</div>
					</div>
			   </div>
		  </div>

		  <div class="form-group-autofit">
				<div class="form-group-item form-group-item-label form-group-item-shrink">
					<label for="formInlineAutofitCustomAddress1"><b>Qty</b></label>
				</div>
				<div class="form-group-item form-group-item-shrink">
					<input class="form-control" id="formInlineAutofitCustomAddress1" placeholder="1" type="text">
				</div>
			</div>
            <br>
			<div class="form-group-autofit product-detail-actions">
				<button class="btn btn-primary inline-item-before" type="button">Add to Cart</button>
				
			</div>

			

		</div>
	</div>

	

